@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap');


* {
  margin: 0;
  padding: 0;
}



nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 12px 80px;
  gap: 10px;
  background-color: #fff;

}



.logo span {
  font-family: 'Raleway';
  font-weight: 900;
  font-style: normal;
  font-size: 38px;
  line-height: 45px;
  background: linear-gradient(90.72deg, #0096FF 42.18%, #0048FF 93.77%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;


}

.logo i {
  display: none;
  font-size: 38px;
  color: #0048FF;
}

.nav_left,
.nav_right {
  font-family: 'Raleway';
  display: flex;
  justify-content: center;
  align-items: center;

}


.nav_list {
  display: flex;
  justify-content: center;
  align-items: center;

}

.nav_list>* {
  margin: 0 40px;
}

.btn_nav {
  padding: 10px 42px;
  font-weight: 100;

  width: 166px;
  height: 40px;

  background: linear-gradient(266.79deg, #0048FF 4.63%, #0096FF 100%);
  border-radius: 52px;
  border: none;
  color: #fff;

}

.dropbtn {
  background-color: #fff;
  color: black;
  font-size: 16px;
  border: none;
  display: flex;
  align-items: center;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}


.home {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  font-family: 'Roboto';
  background-image: url('Back Ground.svg');
  background-repeat: repeat;
  background-size: cover;
}


.blue {
  color: #0096FF;
}

.strike {
  text-decoration: line-through red;
}

.main_left {
  max-width: 811px;
  margin: 40px;

}

.main_left_heading {

  font-family: 'Raleway';
  font-style: normal;
  font-weight: 600;
  font-size: 56px;
  letter-spacing: -0.01em;

  color: #FFFFFF;
}

.item {
  color: #fff;
  font-size: 30px;
  margin: 25px 0;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.item img {
  width: 60px;
  margin-right: 30px;
}

.item .text {
  margin: 0 30px
}

.main_right {
  background-color: #fff;
  width: 500px;
  border-radius: 10px;
}

.widget_no {
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: #0096FF;
  color: #fff;
}

.widget_list {
  display: flex;
  align-items: flex-start;
  justify-content: space-evenly;
  margin: 7px;
}

.widget {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 7px 0;
}

.formContent {
  text-align: center;
}

.formContent h3{
  margin: 10px;
}

.cardList {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.options {
  margin: 5px auto;
  width: 30em;

}

.radio-custom {
  display: none;
  position: absolute;

}

.radio-custom-label {
  display: inline-block;
  vertical-align: middle;
  margin: 5px 10px;

  cursor: pointer;
}

.radio-custom-label {
  position: relative;
  display: flex;
  align-items: center;
  border: 2px solid rgb(185, 185, 185);
  border-radius: 5px;

}

.radio-custom+.radio-custom-label:before {
  content: '';
  background: #fff;
  border: 2px solid #ddd;
  display: inline-block;
  vertical-align: middle;
  width: 20px;
  height: 20px;
  padding: 3px;
  margin-left: 10px;
  text-align: center;
}

.radio-custom+.radio-custom-label:before {
  border-radius: 50%;
}

.radio-custom:disabled+.radio-custom-label {
  background-color: rgba(185, 185, 185, 0.5);
  color: rgba(0, 0, 0, 0.2);
}

.radio-custom-label .card {
  position: relative;
}

.tag_exp {
  position: absolute;
  top: -18%;
  font-size: 12px;
  padding: 0 50px;
  background-color: #F77171;
  color: #fff;
  border-radius: 0 0 5px 5px;
}

.tag_rec {
  position: absolute;
  top: -18%;
  font-size: 12px;
  padding: 0 50px;
  background-color: green;
  color: #fff;
  border-radius: 0 0 5px 5px;
}


.radio-custom:disabled+.radio-custom-label:before {
  background-color: rgba(185, 185, 185, 2);
}

.radio-custom:checked+.radio-custom-label:before {
  content: "✅︎";
  color: #fff;
  background-color: green;

}

.radio-custom:checked+.radio-custom-label {
  border: 2px solid rgb(0, 128, 0);
  background-color: rgba(0, 128, 0,0.2);
  
}

.radio-custom:focus+.radio-custom-label {
  border: 2px solid green;
  border-radius: 5px;
}

.big {
  font-weight: bold;
  font-size: 20px;
}

.light {
  font-weight: 100;
  opacity: 0.75;
}

.card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: none;
  width: 90%;
}

.card>* {
  margin: 7px 20px;
}

hr{
  width: 93%;
  margin: 10px auto;
  opacity: 0.5;
}

.fee{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 81%;
  margin: auto;
}

.card_discount{
  margin: 7px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
  border: 3px solid rgba(255, 0, 0,0.5);
  background-color: rgba(255, 0, 0,0.2);
  border-radius: 8px;

}

.discount_line1{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  margin: 7px 10px;
  
}

#redtag{
  color: rgb(255, 0, 0);
}

.offer{
  color: rgb(255, 0, 0);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 90%;
  margin: 7px 10px;
  font-size: 12px;
}
.offer img{
  width: 25px;
  margin-right: 10px;
}


.final{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  margin: 10px auto;
}
.final_head{
  display: flex;
  align-items: center;
}







@media screen and (max-width:850px)  {
  .main_left_heading{
      font-size: 30px;
  }

  .tag_exp,.tag_rec{
    top: -13%;
  }
  nav{
      padding: 12px 40px;
      flex-direction: column;
  }
  .nav_left,.nav_right{
      flex-direction: column;
  }
  .nav_list{
      flex-direction: column;
      display: none;

  }
  .nav_list button{
      margin: 5px 0;
  }

  .logo i{
      display: inline;
      transition-duration: 300ms;
  }
  .logo{
      width: 80vw;
      display: flex;
      justify-content: space-between;
      align-items: center;
  }


  .item{
      flex-direction: column;
      margin: 30px 0;  
  }
  .item img{
      margin: 15px 0;
  }
  .item .text{
      margin: 0;
  }
  .main_right{
    width: 90vw;
  }
  .options{
    width: 90%;
  }
}

